<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns:tizen="http://tizen.org/ns/widgets" xmlns="http://www.w3.org/ns/widgets" id="http://yourdomain/plantaHora" version="1.0.0" viewmodes="maximized">
    <tizen:application id="n5OD1yVayt.plantaHoraMarcos" package="n5OD1yVayt" required_version="2.0"/>
    <content src="Bemvindo.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon.png"/>
    <name>plantaHora</name>
    <tizen:profile name="wearable"/>
    <tizen:setting background-support="disable" encryption="disable" hwkey-event="enable"/>
</widget>
